#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/youngermaster/AndroidStudio/android-studio/bin/studio.png
Exec=bash -c 'PULSE_LATENCY_MSEC=60 /home/youngermaster/AndroidStudio/android-studio/bin/studio.sh'
Name=Android Studio
