[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/home/youngermaster/Postman/app/Postman %U
Icon=/home/youngermaster/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
